body {
    font-family: Arial, sans-serif;
    background-color: #285b99; /* Background color */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center align horizontally */
    align-items: center; /* Center align vertically */
    height: 100vh; /* Full height of viewport */
}

form {
    background-color: #dedede; /* Form background color */
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 0px 40px 0px rgba(150, 170, 250,1); /* Shadow effect */
}

h1 {
    text-align: center;
    color: #290000; /* Heading color */
}

label {
    display: block;
    margin-bottom: 10px;
    color: #666666; /* Label color */
}

input[type="text"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc; /* Input border color */
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #007bff; /* Button background color */
    color: #ffffff; /* Button text color */
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Button background color on hover */
}

/*.status-message {
    text-align: center;
    color: #2e0000; /* Status message color *//*
    margin-top: 10px; /* Adjust as needed *//*
}
*/
body {
    font-family: Arial, sans-serif;
    background-color: #285b99; /* Background color */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center align horizontally */
    align-items: center; /* Center align vertically */
    height: 100vh; /* Full height of viewport */
}

form {
    background-color: #dedede; /* Form background color */
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 0px 40px 0px rgba(150, 170, 250,1); /* Shadow effect */
}

h1 {
    text-align: center;
    color: #290000; /* Heading color */
}

label {
    display: block;
    margin-bottom: 10px;
    color: #666666; /* Label color */
}

input[type="text"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc; /* Input border color */
    border-radius: 5px;
}

a {
    color: #87CEFA; /* SkyBlue */
}

a:hover {
    color: #4169E1; /* RoyalBlue */
}

.register_link {
    text-align: center;
}

.error {
    color: white;
    background-color: #ff4d4d;
    border: 1px solid #ff4d4d;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.top-left-button a {
    position: absolute;
    top: .5vw; /* Padding from top of the browser edge*/
    left: .5vw; /* Padding from left of the browser edge*/
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Button background color */
    color: #ffffff; /* Button text color */
    text-decoration: none; /* Remove underline */
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.top-left-button a:hover {
    background-color: #0056b3; /* Button background color on hover */
}

.logout-button {
    position: absolute;
    top: .5vw; /* Padding from top of the browser edge*/
    right: .5vw; /* Padding from right of the browser edge*/
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Button background color */
    color: #ffffff; /* Button text color */
    text-decoration: none; /* Remove underline */
    border-radius: 5px;
    border: none;
    cursor: pointer;
}